
.container{
    display: flex;
    flex-direction: row;

}
.imgcon{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:center;

}
.img{
    height: 200px;
    width: 200px;
}
.skillcon{
    flex:1;
   
}
.skillTitle{
    font-weight: bold;
    font-size: 20px;
}
.skilldef{
    font-weight:lighter;
    font-size: 10px;
}

.iconscon{
display: flex;
flex-direction: row;
padding: 30px;
justify-content: space-between;

} 
.icontitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icontext{
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}
.download-text{
    font-size:16px;
    font-weight:bold ;
    color: red;
    padding:0;

}
